* {


    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;

}

body {
    width: 100%;
    max-width: 1400px;
    display: block;
    min-height: 100vh;
    background: black;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    border-left: 100px;
    border-right: 100px;
}

.navbar {
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: darkgray;
}

.link-group {
    list-style: none;
    display: flex;
}

.link a {
    color: #ffffff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: 0.5s;
    font-size: 20px;
}

h2 {
    color: #ffffff;
    align-items: center;
    top: 0;
}


.link a:hover,
.link.active a {
    opacity: 1;
}


h1, h3 {
    color: white;
    text-align: center;
}

#img_1, #img_2, #img_3, #img_4 {
    width: 100%;
}

h6 {
    color: white;
}
.A4_allroad {
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%, -50%);
}


