* {
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: #fff;
}

main {
    background-color: #000;
    position: relative;
    margin-bottom: 50px;
}

img {
    max-width: 100%;
    min-width: 100%;
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
}

/*------------------------------------------------------------*/

.container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.section {
    padding: 50px 0 0;
}


.section-text {
    margin-bottom: 50px;
}

.page-title {
    background-image: url("https://cdn.audi.ua/media/Theme_Banners_Banner_Image_Component/59042-banner-350246-image/dh-1920-918e09/d02c10ea/1657272175/stage.jpg");
    background-position: center;
    background-size: auto 100%;
    min-height: 600px;
}

.page-title h1 {
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    background: #232222;
    /*height: 60px;*/
}

.link-group {
    list-style: none;
    display: flex;
    column-gap: 40px;
    margin: 0;
    padding: 0;
}



.link a {
    display: inline-block;
    color: #ffffff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 0;
    /*line-height: 80px;*/
    transition: 0.5s;
    font-size: 20px;
}


.link a:hover,
.link.active a {
    opacity: 1;
}

@media (max-width: 768px) {
    .link-group{
        display: block;
    }

    .link a {
        padding: 10px 0;
        font-size: 18px;
    }
}

.page-title {
    padding: 300px 0;
    font-size: 55px;
    line-height: 35px;
}

.colors {
    padding-left: 50px;
    padding-right: 50px;
}

.color_item {
    padding: 10px;
}

.color_item img {
    transition: 0.5s;
}

.valokan-close {
    color: #232222;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    right: 7px;
    top: 0;
}

.valokan-close:hover {
    color: #888888;
    cursor: pointer;
}

.kadobagud:before {
    content: "";
    display: none;
    background: rgb(48, 48, 51);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.midsalod:before {
    display: block;
}

.midsalod .angebes-koverla {
    transform: translate(0, 0);
    top: 20%;
}

.angebes-koverla {
    background: #fefefe;
    border: #232222 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    text-align: center;
    position: fixed;
    left: 35%;
    z-index: 11;
    width: 800px;
    height: 730px;
    box-shadow: 0 5px 10px rgba(25, 24, 24, 0.3);
    transform: translate(0, -500%);
    transition: transform 0.3s ease-out;
}

.davasgu-kevanud {
    padding: 20px;
}

.davasgu-kevanud input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ddd;
    color: #888;
    outline: 0;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}

.doveacko-gangeroun,
.kusane-avasgun {
    padding: 10px 20px;
}

.doveacko-gangeroun {
    border-bottom: #eeeeee solid 1px;
}

.doveacko-gangeroun {
    font-size: 20px;
}

.section.technik {
    background: white;
    color: #181818;
    max-width: 100%;
}

.dvs {
    background: #d2d1d1;
    margin: 1px;
    padding: 10px;
}

footer {
    background-color: #000;
    padding: 20px 0;
    font-size: 14px;
    color: #fff;
}

footer .top_footer{
    font-size: 12px;
}

/*@media (min-width: 900px) {*/
/*@media (min-width: 900px) and (orientation: landscape) {*/
/** {*/
/**/
/*}*/
/*}*/


.color_item img:hover {
    cursor: pointer;
    box-shadow: 7px 8px 20px 0 #000;
    transform: scale(1.5);
}

.color_item.active img {
    transform: scale(1.1);
}


.audi_color_group {
    background: white;
}


.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.show {
    display: flex;
}

.modal_window {
    background: #fff;
    max-width: 600px;
    width: 100%;
    padding: 20px;
}

.modal_window, .modal:target {
    opacity: 1;
    visibility: visible;
}

.hor-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}

.modal_window .hor-list {
    justify-content: center;
    gap: 20px;
}

.view_item {
    display: none;
}

.view_item:target {
    display: block;
}

.view_text {
    text-align: center;
}

.view_text_gabarity {
    font-size: 30px;
    color: black;
}

.hor-list {
    list-style: none;
    display: flex;
}

.list a {
    color: #000000;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.5s;
    font-size: 19px;
}

.list a:hover,
.list.active a {
    opacity: 1;
}

.close :hover {
    opacity: 1;
}

.close {
    position: absolute;
}

.view_text_gabarity_1 {
    color: black;
}
